/* Global CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#root, .app {
  margin-top: 12vh; 
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Kanit';
  src: url('./src/asset/fonts/Kanit/your-font-file.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}